* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
}

.card-container {
  width: 60vw;
  height: auto;
  border: 1px solid lemonchiffon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-name {
  margin-top: 1em;
}

.price {
  margin: 1em 0;
}

.reviews {
  margin: 2em 0;
}

.create-review {
  margin: 2em 0;
  padding: .5em;
}